<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentals Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMyQ4fFuY1Q0hcRIhX6iIRs0gN6xM9S5ISN5g" crossorigin="anonymous">

</head>
<body>
  <!-- <header>
      <h1>Rentals</h1>
  </header> -->

  <main>
      <!-- <section class="rental-section">
          <div class="rental-card">
              <h2>Clothes & Costumes</h2>
              <img src="images/clothes-and-costumes.jpg" alt="Clothes & Costumes">
          </div>
          <div class="rental-card">
              <h2>Jewellery</h2>
              <img src="images/jewellery.jpg" alt="Jewellery">
          </div>
      </section> -->

      <section class="featured-products">
          <h2>Featured Products</h2>

          <div class="product">
              <i class="far fa-heart favorite-icon"></i>
              <img src="assets/homemade pots.jpg" alt="Handmade Printed Flowerpots">
              <h3>Handmade Printed Flowerpots</h3>
              <p>৳ 200.00</p>
              <button>Add to cart</button>
          </div>
          <div class="product">
              <i class="far fa-heart favorite-icon"></i>
              <img src="assets/potato chips.jpeg" alt="Plane Salted Fasting Potato Chips">
              <h3>Plane Salted Fasting Potato Chips</h3>
              <p>₹ 60.00</p>
              <button>Add to cart</button>
          </div>
          <div class="product">
              <i class="far fa-heart favorite-icon"></i>
              <img src="assets/saree .jpg" alt="Handloom saree for womens">
              <h3>Handloom saree for womens</h3>
              <p>₹ 499.00</p>
              <button>Add to cart</button>
          </div>
          <div class="product">
              <i class="far fa-heart favorite-icon"></i>
              <img src="assets/pink flower.jpeg" alt="Pink flower jewellery">
              <h3>Pink flower jewellery</h3>
              <p>Rent: ₹ 500.00</p>
              <button>Add to cart</button>
          </div>
      </section>

      <section class="view-products-section">

          <a href="path/to/products.html" class="view-products-button">View Products</a>
      </section>
  </main>
</body>
</html>
